{% from "macros.html" import multi_choice with context %}
{% from "macros.html" import panel_title with context %}
{% from "macros.html" import numeric_q with context %}
{% extends "layout.html" %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
   $('input').click(function(e){
    if (e.shiftKey) {
        console.log('here')
        $(this).prop('checked', false);
    }
});

fmt_line = function(ans, num){
    var a = "" + ans;
    var n = "" + num
    if (n.length == 1){
        n = n + " ";
    }
    return n + "  " + a;
}

report = function(subject,maxi){
    var outs = "" ;
    for(i = 1; i <= maxi; i++){
        var locals;
        locals = $("input[name="+subject+"_" + i + "]:checked").attr('value');
        var line = fmt_line(locals, i);
        outs = outs + "</br>" + line;
    }
    return outs;
}

$(document).ready(function () {
    $("#collapse-verbal-report-btn").click(function (){
            document.getElementById('verbal-report').innerHTML = report('verbal', 52);
            });
 });
$(document).ready(function () {
    $("#collapse-writing-report-btn").click(function (){
            document.getElementById('writing-report').innerHTML = report('writing', 44);
            });
 });
$(document).ready(function () {
    $("#collapse-math1-report-btn").click(function (){
            document.getElementById('math1-report').innerHTML = report('math1', 20);
            });
 });
$(document).ready(function () {
    $("#collapse-math2-report-btn").click(function (){
            document.getElementById('math2-report').innerHTML = report('math2', 38);
            });
 });



</script>
<style>
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  padding: 10px;
  min-width: 315px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 0px;
}

.column img {
  margin-top: 8px;
  vertical-align: center;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 1200px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 1200px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
</style>
<form method="POST" action="SATAnalysis">

<div class="container">
 <div class="row">
    <div class="col-sm">
      <div class="basic-panel-body"><h3>Basic Info</h3></div>
    </div>
    <div class="col-sm">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse-basic" aria-expanded="true" aria-controls="collapse-basic">
            Hide/Show
        </button>
    </div>

 </div>
</div>

<div class="collapse show" id="collapse-basic">
<div id='personal-report'></div>
<div class="panel panel-default">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="student_name">Student Name</label>
      <input type="text" class="form-control" id="student_name" placeholder="Student Name">
    </div>
    <div class="form-group col-md-6">
      <label for="student_email">Student Email</label>
      <input type="email" class="form-control" id="student_email" placeholder="Student Email">
    </div>
    <div class="form-group col-md-6">
      <label for="parent_name">Parent Name</label>
      <input type="text" class="form-control" id="parent_name" placeholder="Parent Name">
    </div>
    <div class="form-group col-md-6">
      <label for="parent_email_phone">Parent Email or Phone</label>
      <input type="text" class="form-control" id="parent_email_phone" placeholder="Email or Phone">
    </div>
   </div>
 </div>



<div class="container">
 <div class="row">
    <div class="col-sm">
      <div class="verbal-panel-body"><h3>SAT <b>Verbal</b> Section</h3></div>
    </div>
    <div class="col-sm">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse-verbal" aria-expanded="true" aria-controls="collapse-verbal">
            Hide/Show
        </button>
    </div>
    <div class="col-sm">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse-verbal-report" aria-expanded="false" aria-controls="collapse-verbal-report" id="collapse-verbal-report-btn">
            Show Report
        </button>
    </div>

 </div>
</div>

<div class="collapse show" id="collapse-verbal">
    <div class="row">
        <div class="column">
        {% for n in range(1,14) %}
            {{ multi_choice(n, "verbal","V") }}
        {% endfor %}
        </div>
        <div class="column">
        {% for n in range(14, 27) %}
            {{ multi_choice(n, "verbal","V") }}
        {% endfor %}
        </div>
        <div class="column">
        {% for n in range(27,40) %}
            {{ multi_choice(n, "verbal","V") }}
        {% endfor %}
        </div>
        <div class="column">
        {% for n in range(40,53) %}
            {{ multi_choice(n, "verbal","V") }}
        {% endfor %}
        </div>
    </div>
</div>
<div class="collapse" id="collapse-verbal-report">
    <div class="row">
        <div class="column">
            <div class="card">
                <h3> VERBAL ANSWER PREVIEW </h3>
                <div id='verbal-report'>
                </div>
                 
            </div>
        </div>
    </div>
</div>


<div class="container">
 <div class="row">
    <div class="col-sm">
      <div class="writing-panel-body"><h3>SAT <b>Writing</b> Section</h3></div>
    </div>
    <div class="col-sm">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse-writing" aria-expanded="true" aria-controls="collapse-writing">
            Hide/Show
        </button>
    </div>
    <div class="col-sm">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse-writing-report" aria-expanded="false" aria-controls="collapse-writing-report" id="collapse-writing-report-btn">
            Show Report
        </button>
    </div>
 </div>
</div>

<div class="collapse show" id="collapse-writing">
    <div class="row">
        <div class="column">
        {% set verbal = verbal %}
        {% for n in range(1, 12) %}
            {{ multi_choice(n, "writing", "W") }}
        {% endfor %}
        </div>
        <div class="column">
        {% for n in range(12, 23) %}
            {{ multi_choice(n, "writing", "W") }}
        {% endfor %}
        </div>
        <div class="column">
        {% for n in range(23, 34) %}
            {{ multi_choice(n, "writing", "W") }}
        {% endfor %}
        </div>
        <div class="column">
        {% for n in range(34,45) %}
            {{ multi_choice(n, "writing", "W") }}
        {% endfor %}
        </div>
    </div>
</div>
<div class="collapse" id="collapse-writing-report">
    <div class="row">
        <div class="column">
            <div class="card">
                <h3> WRITING ANSWER PREVIEW </h3>
                <div id='writing-report'>
                </div>
                 
            </div>
        </div>
    </div>
</div>



<div class="container">
 <div class="row">
    <div class="col-sm">
      <div class="math1-panel-body"><h3>SAT <b>MATH Section 1</b></h3></div>
    </div>
    <div class="col-sm">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse-math-1" aria-expanded="true" aria-controls="collapse-math-1">
            Hide/Show
        </button>
    </div>
    <div class="col-sm">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse-math1-report" aria-expanded="false" aria-controls="collapse-math1-report" id="collapse-math1-report-btn">
            Show Report
        </button>
    </div>
 </div>
</div>

<div class="collapse show" id="collapse-math-1">
    <div class="row">
        <div class="column">
        {% set verbal = verbal %}
        {% for n in range(1,9) %}
        
            {{ multi_choice(n, "math1", "M-") }}
        {% endfor %}
        </div>
        <div class="column">
        {% for n in range(9,16) %}
            {{ multi_choice(n, "math1", "M-") }}
        {% endfor %}
        </div>
        <div class="column">
        {% for n in range(16,21) %}
            {{ numeric_q(n, "math1", "M-") }}
        {% endfor %}
        </div>
    </div>
</div>
<div class="collapse" id="collapse-math1-report">
    <div class="row">
        <div class="column">
            <div class="card">
                <h3> MATH 1 ANSWER PREVIEW </h3>
                <div id='math1-report'>
                </div>
                 
            </div>
        </div>
    </div>
</div>



<div class="container">
 <div class="row">
    <div class="col-sm">
      <div class="math1-panel-body"><h3>SAT <b>MATH Section 2</b></h3></div>
    </div>
    <div class="col-sm">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse-math-2" aria-expanded="true" aria-controls="collapse-math-2">
            Hide/Show
        </button>
    </div>
    <div class="col-sm">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse-math2-report" aria-expanded="false" aria-controls="collapse-math2-report" id="collapse-math2-report-btn">
            Show Report
        </button>
    </div>
 </div>
</div>
<div class="collapse show" id="collapse-math-2">
    <div class="row">
        <div class="column">
    {% set verbal = verbal %}
    {% for n in range(1,11) %}
        {{ multi_choice(n, "math2", "M2-") }}
    {% endfor %}
        </div>
        <div class="column">
    {% for n in range(11,21) %}
        {{ multi_choice(n, "math2", "M2-") }}
    {% endfor %}
        </div>
        <div class="column">
    {% for n in range(21,31) %}
        {{ multi_choice(n, "math2", "M2-") }}
    {% endfor %}
        </div>
        <div class="column">
    {% for n in range(31,39) %}
        {{ numeric_q(n, "math2", "M2-") }}
    {% endfor %}
        </div>
    </div>
  </div>
<div class="collapse" id="collapse-math2-report">
    <div class="row">
        <div class="column">
            <div class="card">
                <h3> MATH 2 ANSWER PREVIEW </h3>
                <div id='math2-report'>
                </div>
                 
            </div>
        </div>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</div>

</div>


</form>
{% endblock %}
