{% macro multi_choice(index, section, abbr) %}
{% set qname %}{{section}}_{{index}}{% endset %}
<div class="input-group">
    <label for="Question {{ abbr }}{{ index }}"><i>{{ index }}</i></label>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="{{qname}}_a" name="{{qname}}" class="custom-control-input" value='A'><label class="custom-control-label" for="{{qname}}_a">A</label></div>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="{{qname}}_b" name="{{qname}}" class="custom-control-input" value='B'>
        <label class="custom-control-label" for="{{qname}}_b">B</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="{{qname}}_c" name="{{qname}}" class="custom-control-input" value='C'>
        <label class="custom-control-label" for="{{qname}}_c">C</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="{{qname}}_d" name="{{qname}}" class="custom-control-input" value='D'>
        <label class="custom-control-label" for="{{qname}}_d">D</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" lass="form-control form-control-sm" id="{{qname}}__" name="{{qname}}" class="custom-control-input" checked=true value=''>
        <label class="custom-control-label" for="{{qname}}__">_</label>
    </div>
 </div>
 {% endmacro %}

{% macro panel_title(msg) %}
 <div class="panel panel-default">
     <div class="panel-heading">{{ msg }}</div>
</div>
{% endmacro %}

{% macro numeric_q2(index, section, label) %}
{% set qname %}{{section}}_{{index}}{% endset %}
<div class="input-group">
    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">{{label}}{{index}}</label>
    <div class="col-sm-4 my-1">
        <label class="sr-only" for="{{qname}}">{{label}}{{index}}</label>
        <input type="text" class="form-control" id="{{qname}}" placeholder="">
    </div>
</div>
{% endmacro %}

{% macro numeric_q(index, section, label) %}
{% set qname %}{{section}}_{{index}}{% endset %}
<div class="input-group">
    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">{{label}}{{index}}</label>
    <input type="text" class="form-control" name={{qname}}>
</div>
{% endmacro %}

{% macro bs_table(header, table) %}
<table class="table table-hover">
  <thead>
    <tr>
    {% for c in header %}
      <th scope="col">{{c}}</th>
    {% endfor %}
    </tr>
  </thead>
  <tbody>
  {% for row in table %}
  {% set rowloop = loop %}
  <tr>
      <th scope="row"></th>
        {% for key, value in row.items() %}
            <td>{{ value|safe }}</td> 
        {% endfor %}
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endmacro %}

{% macro res_header(msg,n) %}
   <div class="row">
       <div class="col-sm">
         <div class="panel panel-default">
             <div class="panel-heading">
                 <h2><i>
                    {% for i in range(0,n) %}
                        </br>
                    {% endfor %} 
                    {{msg}}
                    </br>
                    </i></h2>
             </div>
             <div class="panel-body"></div>
         </div>
       </div>
   </div>
{% endmacro %}


{% macro course_rec(n) %}
{% if n < 1450 %}
 Comprehensive
{% elif n < 1520 %}
 Success
{% elif n < 1570 %}
 Crash
{% endif %}
{% endmacro %}


{% macro pick_test_low(m,r,w) %}
{% if (m < r) and (m < w) %}
    Math
{% elif (r < m) and (r < w) %}
    Reading
{% elif (w < m) and (w < m) %}
    Writing
{% endif %}
{% endmacro %}

{% macro pick_test_high(m,r,w) %}
{% if (m > r) and (m > w) %}
    Math
{% elif (r > m) and (r > w) %}
    Reading
{% elif (w > m) and (w > m) %}
    Writing
{% endif %}
{% endmacro %}

{% macro pick_nonmatch(m,r,w) %}
{% if (r == w) %}
    Math
{% elif (m == w) %}
    Reading
{% elif (r == m) %}
    Writing
{% endif %}
{% endmacro %}

{% macro pick_eq(m,r,w) %}
{% if (r == w) %}
    Reading and Writing
{% elif (r == m) %}
    Math and Reading
{% elif (m == w) %}
    Math and Writing
{% endif %}
{% endmacro %}

{% macro para2_sent1(n) %}
{% if n < 1390 %}
    Your performance on this exam is a good start, but you have plenty of room for growth by learning various test strategies and taking additional practice exams.
{% elif n < 1540 %}
    You are already in a really good place with your score on this diagnostic, but some targeted strategy work and additional practice can really help take your score to the next level.
{% elif n < 1590 %}
    Your performance on the diagnostic was already excellent, but if you still want to boost your score there are a few highly targeted strategies that you can use. And of course every student benefits from taking additional practice tests.
{% endif %}
{% endmacro %}


{% macro para2_sent2(m,r,w) %}
{% if (m != w and m != r and r != w) %}
   As you can tell from these numbers, the {{ pick_test_high(m,r,w) }}  section is certainly your strength with the most room for improvement in {{ pick_test_low(m,r,w) }}.
{% elif ((m == w and r < w) or (m == r and w < r) or (r == w and m < r)) %}
   As you can tell from these numbers, the {{ pick_eq(m,r,w) }} sections are certainly your strength with the most room for improvement in {{ pick_test_low(m,r,w) }}.
{% elif ((m == w and r > w) or (m == r and w > r) or (r == w and m > r)) %}
   As you can tell from these numbers, the {{ pick_test_high(m,r,w) }} sections is certainly your strength with the most room for improvement in {{pick_eq(m,r,w)}}.
{% elif (m == w and r == m) %}
  As you can tell, the student has pretty similar performance accross each of the three test sections.
{% endif %}
{% endmacro %}


{% macro section_increase(section, best_concepts, worst_concepts) %}
    On the {{section}} section, you did best with the questions focused on {{format_concepts(best_concepts)}}.
{% if worst_concepts|length == 3 %}
    As you prep, we suggest that you focus on {{format_concepts(worst_concepts)}} as these will provide the biggest boost to your score. 
{% elif worst_concepts|length == 1 or worst_concepts|length == 2 %}
    As you prep, we suggest that you focus on {{format_concepts(worst_concepts)}} as these will provide the biggest boost to your score.
{% elif worst_concepts|length == 0 %}
    While you did get a perfect score on the {{section}} section of this test, we still suggest taking a couple more full length practice tests to make sure that you are consistently able to score 800s on the {{section}} section. 
{% endif %}
{% endmacro %}

{% macro format_concepts(c) %}
{% if (c|length == 1) %}
"{{c[0]}}"
{% elif (c|length == 2) %}
"{{c[0]}}" and "{{c[1]}}"
{% elif (c|length== 3) %}
"{{c[0]}}", "{{c[1]}}", and "{{c[2]}}"
{% endif %}
{% endmacro %}


{% macro course_rec_name(n) %}
{% if n < 1580 %}
{% set course_name = 'Comprehensive' %}
    {% if n > 1450 %}
        {% set course_name = 'Success' %}
    {% elif n > 1520 %}
        {% set course_name = 'Crash' %}
    {% endif %}
    Based on your performance on this diagnostic, we recommend that you use the {{course_name}} course to prepare for the exam.
{% endif %}
{% endmacro %}






